
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0A0B0B;
  color: #fff;
  font-family: Arial, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

